

# General 
.vscode
.gitignore
README.md
.dockerignore
.git

# Ignore other unnecessary files
*.log
*.lock
*.bak
*.swp
*.DS_Store

# dependencies
/node_modules


# Auto Generated PWA files
**/public/sw.js
**/public/workbox-*.js
**/public/worker-*.js
**/public/sw.js.map
**/public/workbox-*.js.map
**/public/worker-*.js.map
**/public/fallback-*.js



# next.js
.next
.cache



